/***************************/
/****** My stylesheet ******/
/***************************/


/*** General ***/
body {
    padding: 2%;
}

body *{
    box-sizing: border-box;
}


section {
    padding: 10%;
}

h2 {
    margin-bottom: .8rem;
    text-align: center;
}

h3 {
    margin-bottom: .5rem;
}

img {
    border-radius: 3px;
    width: 100%;
    height: 25vh;
    margin: 1em 0;
}

img:hover {
    opacity: .5;
}

button, input[type="submit"] {
    width: 8rem;
    padding: .5rem;
}

button:not(button:last-of-type) {
    margin-right: 1em;
}

.education-section li, .contact-section li, nav li {
    list-style: none;
    line-height: 1.5;
}
.education-section ul, .contact-section ul, nav ul {
    margin: 2em 0;
    padding-left: 0;
}

label {
    display: block;
}

input, label, textarea {
    margin: .5em 0;
}

input, textarea {
    padding: .5rem;
}


/*** Header ***/
header h1 {
    text-align: center;
}

header img:first-of-type {
    filter: grayscale(1);
    width: 100%;
    height: 100vh;
}

header p:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 0;

    color: darkcyan;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

/*** Navbar ***/

nav {
    padding: 1em;
    text-align: center;
}

nav > p + ul {
    display: none;
    padding: 10px;
} 

nav > p:hover + ul {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(200, 200, 200, .5);
    z-index: 100;
} 

nav li {
    margin-bottom: 10px;
}

/*** Projects ***/

.projects-section button {
    float: right;
}

/*** Education ***/

.education-section img {
    display: block;
    margin: 2em auto;
}

.education-section ul {
    margin: 2em 0;
}

/*** Contact ***/

.contact-section input:not(input[type="submit"]), .contact-section textarea {
    width: 100%;
}

input[type="submit"] {
    float: right;
}

/*** Footer ***/

footer {
    text-align: center;
    font-size: .8rem;
    padding: 1em;
    border-top: 1px solid #333;
}

/*** Media queries ***/
    
@media only screen and (min-width: 600px) {
    /*** General ***/
    
    body {
        background-color: #333;
        color: #ddd;
        padding: 0;
    }

    section {
        padding: 5% 10%;
    }

    img {
        border-radius: 3px;
        width: 150px;
        height: 150px;
    }
    

    /*** Header ***/

    header img:first-of-type {
        height: 50vh;
    }


    header p:first-of-type {
        margin-top: 0;
        top: 50%;
    }

    /*** Contact ***/

    .contact-section input:not(input[type="submit"]) {
        width: 40%;
    }

    label {
        display: inline-block;
        width: 20%;
    }


}
