/***************************/
/****** My stylesheet ******/
/***************************/


/*** Général ***/

body *{
    box-sizing: border-box;
}

img {
    border-radius: 3px;
}

img:hover {
    opacity: .5;
}

/*** Header ***/
header h1 {
    text-align: center;
}

header img:first-of-type {
    filter: grayscale(1);
    width: 100%;
    height: 100vh;
}

header p:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 0;

    color: darkcyan;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

/*** Navbar ***/

nav {
    padding: 1em;
    text-align: center;
}

nav > p + ul {
    display: none;
    padding: 10px;
} 

nav > p:hover + ul {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(200, 200, 200, .5);
    z-index: 100;
} 

nav li {
    list-style: none;
    margin-bottom: 10px;
}

/*** Media queries ***/
    
@media only screen and (min-width: 601px) {
    /*** General ***/
    
    body {
        background-color: #333;
        color: #ddd;
    }

    /*** Header ***/

    header img:first-of-type {
        height: 50vh;
    }


header p:first-of-type {
    margin-top: 0;
    top: 50%;
}

}
